@model AsyncExamples.Web.Models.CalculationLogModel

@{
    ViewBag.Title = "Home Page";
}

<div style="width:80%;margin-left:auto;margin-right:auto">
    @using (Html.BeginForm("Calculate", "Home", FormMethod.Post, new { id = "testForm" }))
    {
        @Html.TextBoxFor(m => m.Number, new { @class = "calculation-x" })
        <br />
        <br />
        <input type="submit" value="Evaluate" onclick="document.getElementById('testForm').action = 'Calculate'" />
        <br />
        <br />
        <input type="submit" value="Async evaluate" onclick="document.getElementById('testForm').action = 'AsyncCalculate'" />
        <br />
        <br />
        <input type="submit" value="Async with task evaluate" onclick="document.getElementById('testForm').action = 'AsyncWithTaskCalculate'" />
        <br />
        <br />
        if (Model.Method != null)
        {
        <table>
            <tr>
                <td colspan="2">Method: </td>
                <td colspan="2">@Model.Method</td>
            </tr>
            <tr>
                <td colspan="2">Controller thread ID: </td>
                <td colspan="2">@Model.ControllerStartThreadId</td>
            </tr>
            <tr>
                <td colspan="2">DomainService thread ID: </td>
                <td colspan="2">@Model.StartThreadId</td>
            </tr>
            <tr>
                <td colspan="5" height="32px"></td>
            </tr>
            <tr>
                <td width="42px">Nr.</td>
                <td width="212px">Calculator</td>
                <td width="116px">Result</td>
                <td width="136px">Elapsed time (ms)</td>
                <td width="82px">Thread ID</td>
            </tr>
            <tr>
                <td colspan="5" height="12px"></td>
            </tr>
            @{ foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Number</td>
                        <td>@item.Name</td>
                        <td>@item.Result</td>
                        <td>@item.MilliSeconds</td>
                        <td>@item.ThreadId</td>
                    </tr>
                } }
            <tr>
                <td colspan="5" height="42px"></td>
            </tr>
            <tr>
                <td colspan="2">DomainService thread ID: </td>
                <td colspan="2">@Model.EndThreadId</td>
            </tr>
            <tr>
                <td colspan="2">Controller thread ID: </td>
                <td colspan="2">@Model.ControllerEndThreadId</td>
            </tr>
            <tr>
                <td colspan="2">Elapsed time (ms):</td>
                <td colspan="2">@Model.MilliSeconds</td>
            </tr>

        </table>
        }
    }
</div>